/* Reset Default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenitore Header */
.main-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    min-height: 70px;
    max-width: 1400px;
    margin: 0 auto;
    background-color: rgb(56,87,154);
    padding-bottom: 5px;
}

/* Contenitore Near */
.flex-container-near {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

/* Contenitore Navbar */
.main-navbar {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

/* Icone large */
.icon-large {
    font-size: 25px;
    margin-left: 10px;
}

/* Input */
#cerca {
    width: 300px;
    height: 30px;
    margin-left: 10px;
}

button {
    height: 30px;
    padding: 5px;
}

/* Link */
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.home {
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    padding-right: 5px;
    padding-left: 5px;
}

.menu {
    color: rgb(255, 255, 255);
}